html	{
	height: 100%;
}

body    {
	background-color:white;
	font-size: medium;
	margin: 0px;
	height: 100%;
	width:100%;
	font-family: Verdana, Geneva, sans-serif;
}

#home

nav li	{
	padding: 10px 10px;
	border-bottom: 1px solid  black;
}

nav		{
	background-color: gray;
	width: 15%;
	margin:0;
	position: fixed;
	top: 0;
	height: 100%;
	/*bottom: 0;*/
	z-index: 2;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	/*height: 100%;*/
	overflow: auto;
	border: 1px solid black;
}

nav a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}



#ring1 {
	margin-left: 0%;
	padding:0px 0px;
	height: auto;
}
#ring2{
	/*text-align: center;*/
	margin-left: 20%;
	background-image: url(images/rings.jpg);
	height: 800px;
	background-repeat: no-repeat;
	width: 100%;
}

#homepicture{
	width: 100%;
}

img {
	max-width: 100%;
}

h1		{
	font-size: 160%;
	text-align: center;
	color: black;
}

h2		{
	font-size: 120%;
	text-align:center;
	color: black;
}

h3		{
	font-size: 110%;
	text-align:center;
	color: black;
}



#Lopez, #foot	{
	color:white;
	text-align:center;
}

p  		{
	color:black;
	text-align: center;
}

#phototypes {
	text-align: center;
	font-size: 150%;
}

#Contact {
	text-align: center;
}

#Lopez, footer {
	padding:2px;
	background-color: black;
	text-align: center;
	margin: 0px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    display: table-cell;
    width: 25%;
}

div.table {
	display: table;
	margin-left: 15%
}
div.tablerow {
	display: table-row;
}

div.img:hover {
    border: 1px solid #777;
}


div.desc {
    padding: 15px;
    text-align: center;
}
